.nft-section-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #071726;
    overflow: hidden;
}

.nft-bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.nft-blur-gradient {
    position: absolute;
    width: 100%;
    height: 139px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(7, 23, 38, 0) 0%, #071726 89.9%);
    z-index: 1;
}

/* Project Title */
.nft-title {
    position: absolute;
    font-family: 'Cyberjunkies', sans-serif;
    width: 100%;
    text-align: right;
    top: 60%;
    right: 40%;
    font-weight: 200;
    font-size: 2rem;
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.3),
            0 0 30px rgba(255, 255, 255, 0.2);    opacity: 0.9;
    z-index: 10;
}

@media (max-width: 768px) {
    .nft-section-bg {
        overflow: hidden;
    }
}

@media (max-width: 480px) {
    .nft-title {
        font-size: 2rem;
        text-align: center;
        left: 1%;
        top: 60%;
    }

    .nft-section-bg {
        overflow: hidden;
    }
}

/* iPhone 14 Pro Max and iPhone 15 Pro Max (430px viewport width) */
@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
    .nft-title {
        font-size: 1.8rem;
        text-align: center;
        right: 0;
        left: 0;
        top: 57%;
    }

    .nft-section-bg {
        overflow: hidden;
    }

}

/* iPhone 14 Pro (393px viewport width) */
@media only screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) {
    .nft-title {
        font-size: 1.7rem;
        text-align: center;
        right: 0;
        left: 0;
        top: 50%;
    }

    .nft-section-bg {
        overflow: hidden;
    }
}

@media (max-width: 320px) {
    .nft-section-bg {
        overflow: hidden;
    }
}

/* Large Desktop Screens */
@media (min-width: 1920px) {
    .nft-title {
        font-size: 2.5rem;
    }
}

/* Extra Large Screens (like 32 inch monitors) */
@media (min-width: 2560px) {
    .nft-section-bg {
        max-width: 2000px;
        margin: 0 auto;
        position: relative;
    }
    
    .nft-title {
        font-size: 3rem;
    }
}


