@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --color-rust-dark: #bf3e21;
  --color-rust: #d94b18;
  --color-navy: #1e223d;
  --color-dark-blue: #071726;
  --color-cream: #f3ede0;
  --text-light: var(--color-cream);
  --text-dark: var(--color-navy);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-dark-blue);
  color: var(--text-light);
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  position: relative;
}